
.nav-container {
    background-color: #0F3443;
}

.list-container{
    background-color: #0F3443;
    padding: 10px;
}
.link a {
    margin-right: 20px;
    font-size: 17px;
    font-weight: 600;
}

.active {
    background-color: lightseagreen;
    padding: 3px 7px;
    border-radius:10px;
    
}